<!DOCTYPE html>
<html>
<head>
  <title>Sample club </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type=text/css>

  <link rel="stylesheet" href="/static/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/main.css">


</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#weatherform">Pick your favourites</a></li>
    </ul>
  </div>
</nav>
</div>

  <div class='email'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>

          <h1>Where should I travel today?</h1>

        </div>
        </div>

          <form role='form' class="form-group">
            <div class="form-group">
          <label for="email">To sign up, enter your email below</label>
          <input type="text" class='form-control' name="email" placeholder="example@address.com" >
          <button type="submit" class='btn btn-success'>Send</button>
          </div>
          </form>

    </div>
  </div>

  <div id="weatherform" class="text-center">
    <div class="container">
        <title2> Pick your favourites below: </title2>
        <section id="header-container">
          <div class="container">
  		        <form class="form cf">
            			<section class="weather">
            				<h2>How do you like your weather?</h2>
            				<input type="radio" name="radio1" id="steaming" value="steaming"><label class="steaming-label five col" for="steaming">Steaming</label>
            				<input type="radio" name="radio1" id="chilly" value="chilly" checked><label class="chilly-label five col" for="chilly">Chilly</label>
            				<input type="radio" name="radio1" id="temp" value="temp"><label class="temp-label five col" for="temp">Temperate</label>
                  </section>

            			<section class="location">
            				<h2>Any ideas on location?</h2>
            				<input type="radio" name="radio2" id="europe" value="europe" checked><label class="europe-label five col" for="europe">Europe</label>
            				<input type="radio" name="radio2" id="australasia" value="australasia"><label class="australasia-label five col" for="australasia">Australasia</label>
                    <input type="radio" name="radio2" id="asia" value="asia"><label class="asia-label five col" for="asia">Asia</label>
                    <input type="radio" name="radio2" id="america" value="america"><label class="america-label five col" for="america">America</label>
                    <input type="radio" name="radio2" id="africa" value="africa"><label class="africa-label five col" for="africa">Africa</label>
                  </section>

          		    <section class="type">
            				<h2>Are you a country or a city lover?</h2>
            				<input type="radio" name="radio3" id="country" value="country"><label class="country-label five col" for="country">Country</label>
            				<input type="radio" name="radio3" id="city" value="city"><label class="city-label five col" for="city">City</label>
            			</section>

  			           <input class="submit" type="submit" value="Submit">
  		         </form>
  	          </div>
            </section>
          </div>
        </div>

<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>
