<!DOCTYPE html>
<html>
<head>
  <title>Holiday Weather </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type=text/css>

  <link rel="stylesheet" href="/static/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/main.css">


</head>

<body>

  <div class='france'>
    <div class='container'>

          <h1>No destinations found</h1>
          <div class='calculate'><a href="/"><button>Calculate again!</button></a></div>


      </div>
    </div>





<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="static/main.js"></script>
</body>
</html>
