<!DOCTYPE html>
<html>
<head>
  <title>Sample club </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type=text/css>
  <link rel="stylesheet" href="dist/css/bootstrap.css">
  <link rel="stylesheet" href="second.css">
</head>

<body>

  <header id="header">
    <h1> Check out the sample sales on right now below ...</h1>
  </header>

  <section id="main">

    <div class='row'>
      <div class='col-sm-3'>
          <img src="images/stella.jpg" class="center-block">
      </div>

      <div class='col-sm-3'>
        <a href= "https://www.stellamccartney.com/gb">
          <h3>Stella McCartney</h3>
        </a>
        <ul>
            <li>When? 26th June 2018 to 27th June 2018</li>
            <li>Where? SW1Y 4SE</li>
            <li>Details: Payment by card only</li>
        </ul>
      </div>

      <div class='col-sm-3'>
              <img src="images/melissa.jpg" class="center-block">
      </div>

      <div class='col-sm-3'>
        <a href="https://www.odabash.com/">
          <h3>Melissa Odabash</h3>
        </a>
        <ul>
            <li>When? 28th June 2018 to 29th June 2018</li>
            <li>Where? W1K 5LF</li>
            <li>Details: Shop beach-wear and accessories</li>
        </ul>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-3'>
        <br> </br>
          <img src="images/mounir.jpg" class="center-block">
      </div>

      <div class='col-sm-3'>
        <br> </br>
        <a href="https://www.mounir.co.uk/">
          <h3>Mounir Jewellery</h3>
        </a>
        <ul>
            <li>When? 29th June 2018 to 30th June 2018</li>
            <li>Where? SW15 1EW</li>
            <li>Details: Handmade jewellery designs</li>
        </ul>
      </div>

      <div class='col-sm-3'>
        <br> </br>
          <img src="images/soboye.jpg" class="center-block">
      </div>

      <div class='col-sm-3'>
        <br> </br>
        <a href="http://www.soboye.co.uk/">
          <h3>Soboye</h3>
        </a>
        <ul>
            <li>When? 29th June 2018 to 8th July 2018</li>
            <li>Where? E2 7JP</li>
            <li>Details: 50% to 70% off retail prices </li>
        </ul>
      </div>
  </div>


  </section>

  <!-- Footer -->
  <footer id="footer">
    <div class="container">
    <button class="btn btn-lg btn-twitter">Twitter</button>
    <button class="btn btn-lg btn-facebook">Facebook</button>
    <button class="btn btn-lg btn-pinterest">Pinterest</button>
  </div>
  </footer>


  <script src="https://code.jquery.com/jquery.js"></script>


</body>

</html>
